
html,
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  font-size: 3vw;
}

#display {
  border: 1px solid black;
}

button {
  padding: 2px;
  margin: 2px 0;
  font-size: 2vw;
}